<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Coffee 4&#183;2</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/meetups.css' />


    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/main.js"></script>


  </head>
  <body>
    <div class="header-container">
      <header id="main-nav" class="page-header clearfix">
        <div id="left">
          <h1 class="logo"><a class='header-link' href="/"><span>Coffee 4&#183;2</span> <i class="fa fa-coffee"></i></a></h1>
        </div>
        <div id="right">
          <span class='nav-box center-align valign-wrapper' id="profile-link"><button type="button" class="btn btn-info btn-lg z-depth-0 auth-button"><a class="profile" href="/users">Profile</a></button></span>
          <span class='nav-box center-align valign-wrapper' id="logout"><button type="button" class="btn btn-info btn-lg z-depth-0 auth-button" data-toggle="modal" data-target="#myModal3">Log Out</button></span>
        </div>
      </header>
    </div>

    <div id="myModal3" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Log Out</h4>
          </div>
          <form>
            <div class="modal-body">
              Are you sure you want to log out? We're gonna miss you.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-default">Log Out</button>
            </div>
          </form>
          </div>

        </div>
      </div>

    <div class="content">
      <h1 class="title-header">Your Meetups</h1>

      <div class='content-1'>
        <form action="/meetups" method="post">
          <button type="submit" class="btn btn-default conf-button">New Meetup</button>
        </form>
      </div>


      <div class='content-2'>
        <h2 class="main-label">Upcoming Meetups</h2>

        <!-- if statement goes here -->
        <% meetups.forEach(function(meetup) { %>
          <!-- below, figure out what the object is -->
          <% if (meetup.accepted === true) { %>

            <div class="row">
              <div class="col s12 m6">
                <div class="card amber darken-2">
                  <div class="card-content white-text">
                    <!-- retrieve the name of the other person  -->
                    <span class="card-title">Coffee with <%= meetup.personToMeet %></span>
                    <!-- retrieve information about the meetup -->
                    <!-- specifically, get the date and the location -->
                    <p>Meet at <%= meetup.name %> on <%= meetup.date %> at <%= meetup.time %></p>
                  </div>
                  <div class="card-action">
                    <!-- gotta get the edit link, and make the edit route -->
                    <a class='edit-link' href="/meetups/<%= meetup.id %>/edit">Edit Link</a>
                  </div>
                </div>
              </div>
            </div>
            <% }; %>
          <% }) %>
        </div>


        <div class='content-3'>
          <h2 class="main-label">Pending Meetups</h2>

          <!-- if statement goes here -->
          <% meetups.forEach(function(meetup) { %>
            <!-- below, figure out what the object is -->
            <% if (meetup.accepted === false) { %>

              <div class="row">
                <div class="col s12 m6">
                  <div class="card amber darken-2">
                    <div class="card-content white-text">
                      <!-- retrieve the name of the other person  -->
                      <span class="card-title">Coffee with <%= meetup.personToMeet %></span>
                      <!-- retrieve information about the meetup -->
                      <!-- specifically, get the date and the location -->
                      <p>Meet at <%= meetup.name %> on <%= meetup.date %> at <%= meetup.time %></p>
                    </div>
                    <div class="card-action">
                      <!-- gotta get the edit link, and make the edit route -->
                      <a class='edit-link' href="/meetups/<%= meetup.id %>/edit">Edit</a>
                      <form action='/meetups' method="PUT">
                        <!-- FIX THIS -->
                        <a class='edit-link' href="/meetups">Accept</a>
                      </form>
                      <form action='/meetups' method="DELETE">
                        <a class='edit-link' href='/meetups'>Delete</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <% }; %>
            <% }) %>
          </div>



    </div>



  </body>
</html>
